name: Keepalive
on:
    schedule:
        - cron: "0 12 1 * *" # Every month
    workflow_dispatch:

jobs:
    keepalive:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: gautamkrishnar/keepalive-workflow@v2
